.list-of-holidays{
   display: flex;
   justify-content: left;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 19px;
}
.list-of-holidays div{
   width: 25%;
   padding: 5px 25px;
}
.list-of-holidays span{
    font-size:21px;
    font-weight:bold;
}

@media(max-width:768px){
   .list-of-holidays div{
      width: 50%;
   }
}

@media(max-width:420px){
   .list-of-holidays div{
      width: 100%;
   }
}